body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222; 
	background-color: #F4F4F4
}

h1, h2, h3, h4 {
	font-weight: 500;
	letter-spacing: 0.04rem;
	margin-bottom: 0.2rem;
	color: #231f20;
}
	h2{
		font-size: 2.4rem;

	}
	h4{
		font-size: 1.6rem;
	}

p {
	margin-bottom: 1.6rem;
}

.row {
	margin-bottom: 1.6rem;
}

.row .column,
.row .columns,
.row .column:first-child,
.row .columns:first-child{
	padding-left: 1.6em;
	padding-right: 1.6em;
}

.cba-font-style-2 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.04rem;
	color: #bdbbbc;
}

#hero img {
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

.article img {
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}
.subheadline {
	border-bottom: 5px;
}

.authordetails {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 0.6rem;
	padding-top: 0.6rem;
	color: #231f20;
}
	.authordetails a {
		color: #231f20;
	}

.article td,
.article th,
.article table{
	border: 1px solid #231f20;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
	.article table{
		margin-left: auto;
		margin-right: auto;
	}
